# медицинский набор (чтение, переработка и запись)
DATASET_PATH_MEDICAL = C:\...\...\...\archive\Brain_Cancer raw MRI data\Brain_Cancer
OUTPUT_PATH_MEDICAL = C:\...\...\...\VSCODE\steg\medical_512

# текстурный набор (чтение, переработка и запись)
DATASET_PATH_TEXTURE = C:\...\...\...\archive (5)\dtd\images\bubbly
TEXTURE_PATH=C:\...\...\...\VSCODE\steg\texture_512

# тестовое сообщение для внедрения в контейнер
TEST_MESSAGE_PATH=C:\...\...\...\VSCODE\steg\test_message.txt

# boss base набор 
BOSSbase_PATH=C:\...\...\...\BOSSbase_1.01

# сохранение результатов переработки контейнеров
MEDICAL_GLIOMA_PATH=C:\...\...\...\VSCODE\steg\medical_512\brain_glioma
MEDICAL_MENIN_PATH=C:\...\...\...\VSCODE\steg\medical_512\brain_menin
MEDICAL_TUMOR_PATH=C:\...\...\...\VSCODE\steg\medical_512\brain_tumor
MEDICAL_COMBINED_PATH=C:\...\...\...\VSCODE\steg\medical_512\combined_medical

# путь для кастомного логотипа
LOGO_PATH=C:\...\...\...\pics\pic(2).png