# Папки для подготовления датасетов

DATASET_PATH_MEDICAL = C:\...\...\...\archive\Brain_Cancer raw MRI data\Brain_Cancer
OUTPUT_PATH_MEDICAL = C:\...\...\...\VSCODE\steg\medical_512

DATASET_PATH_TEXTURE = C:\...\...\...\archive (5)\dtd\images\bubbly
TEXTURE_PATH=C:\...\...\...\VSCODE\steg\texture_512

TEST_MESSAGE_PATH=C:\...\...\...\VSCODE\steg\test_message.txt

# Сохранение РЕЗУЛЬТАТОВ 
BOSSbase_PATH=C:\...\...\...\BOSSbase_1.01

MEDICAL_GLIOMA_PATH=C:\...\...\...\VSCODE\steg\medical_512\brain_glioma
MEDICAL_MENIN_PATH=C:\...\...\...\VSCODE\steg\medical_512\brain_menin
MEDICAL_TUMOR_PATH=C:\...\...\...\VSCODE\steg\medical_512\brain_tumor
MEDICAL_COMBINED_PATH=C:\...\...\...\VSCODE\steg\medical_512\combined_medical